body {
  font-family: roboto;
}
.post-1 {
  background: #9d27b0;
}
.post-2 {
  background: #9bb800;
}
.post-3 {
  background: #ed5120;
}
.post-4 {
  background: #9d27b0;
}
.post-5 {
  background: #2d95bb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #0b192f;
  color: rgb(255, 255, 255);
  font-weight: 200;
}

.header {
  background-color: #024161;
  margin-bottom: 20px;
  display: flex;
}

.logo {
  font-size: 40px;
}

.logo .pink {
  color: rgb(192, 67, 109);
}

.menu {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

.h-content {
  height: 35vh;
  max-height: 400px;
  background: url('../img/post0.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
}

.h-content h1, h2 {
  font-weight: 300;
  font-size: 50px;
  line-height: 45px;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
}

.exposition{
  min-height: 270px;
}

.wp-post .text-formats {
  margin: 30px;
}

.text-formats {
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-formats p {
  margin: 30px 0;

}

.text-formats div.ss {
  padding: 40px 0 50px 40px ;
}

.post:hover img, .post:hover h2 {
  opacity: 0.5;
}

.picture img, .s-picture img {
  width: 100%;
  height: 100%;
}

.date {
  position: relative;
  font-size: 30px;
  opacity: 0.3;
  padding: 30px 30px;
  line-height: 30px;
  text-align: center;
}

.date span {
  font-size: 65px;
  display: block;
  margin-bottom: 20px;
}

.s-exp {
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.s-exp {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 20px 40px;
}

.s-post {
  background-color: #fff;
  color: #000;
}

.s-post h3 {
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 30px;
}

.footer {
  background-color: #024161;
}

.footer span {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.wp-post .text-formats {
  margin: 0;
}

@media screen and (max-width: 480px) {

  .main-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  .header {
    height: 20vh;
    min-height: 100px;
    max-height: 300px;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
  }

  .menu {
    display: block;
  }

  .nav-panel {
    display: none;
  }

  .post {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer {
    text-align: center;
    padding: 20px;
  }

  .wp-post {
    height: 400px;
  }

  .wp-post .text-formats {
    flex-direction: column;
  }

  .wp-post .text-formats div.ss {
    padding: 20px;
  }
  
  .wp-post .text-formats .date {
    padding: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .center-content {
    margin-right: 20px;
    min-width: 65%;
  }

  .footer span {
    display: block;
  }

  .exposition {
    height: 450px;
  }
}

@media screen and (min-width: 769px) {
  .header {
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .h-content p {
    width: 60%;
  }

  div.bev {
    display: flex;
    align-items: center;
    height: 75px;
  }

  .bev a {
    margin: 25px;
  }
  
  div.bev:hover {
    background-color: #1f52a4;
  }

  .exposition, .picture {
    width: 50%;
    max-height: 300px;
  }

  .post {
    display: flex;
    flex-direction: row;
   }

  .side-content {
    width: 45vw;
    margin-left: 20px;
  }

  .s-post {
    margin-bottom: 20px;
  }

  .post:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .post:nth-child(even) .text-formats { 
    flex-direction: row-reverse;
    text-align: right;
    padding-right: 40px;
  }
    
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px;
  }
  
  .footer span {
    display: block;
  }
}