$bkgImage: url('../img/m-h-night.jpg');
$contentBackground: #21232e;
$headerTxtClr: #fff;
$txtBgClr: #ff4e33;
$btnColor: #e3ac00;
$cardBgColor: #3b3f50;
$gradStart: #dba009;
$gradEnd: #942f51;
$textFonts: 'Fresca', sans-serif;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);