$bkgImage: url('../img/m-h-day.jpg');
$contentBackground: #fff;
$headerTxtClr: #2c2f3c;
$txtBgClr: #14a0c7;
$btnColor: #699900;
$cardBgColor: #21232e;
$gradStart: #66960b;
$gradEnd: #2f5dd0;
$textFonts: 'Hind', sans-serif;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);