@media print {
    .tm-main-nav,
    .tm-team-img,
    #about,
    .blocks div.tm-content-box,
    section#ideas + section.tm-content-box,
    .heading li:first-child::after,
    .heading li:nth-child(3)::after,
    .heading li:hover::before,
    section::before,
    .carousel-indicators,
    .gallery-container {
      display: none;
    }

    section.heading ol {
      list-style-type: none;
    }

    .tm-banner-text {
      text-align: center;
    }
    
    #home{
      margin-top: -120px;
      padding-top: 0px;
    }

    section.heading{
      display: block;
      margin-top: -60px;
      width: 60%;
      margin-left: 20%;
    }
    
    .blocks .tm-team-description-container{
      min-width: 90%;
      text-align: center;
      padding: 0;
      margin-bottom: 100px;
      margin-top: -80px;
    }
    
    .blocks .tm-team-description-container h2{
      margin-left: 10%;
    }
    
    section.heading ol li:nth-of-type(2n+1){
      text-align: right;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    
    section.heading ol li:nth-child(2n){
      float: left;
      margin-top: -20px;
    }

    section:nth-child(2) .tm-team-description-container {
      text-align: center;
      padding: 0;
      min-width: 100%;
    }
    
    #ideas{
      margin-top: -80px;
    }
    
    .carousel {
      padding: 0;
      margin-bottom: 0;
    }

    .tm-section-title {
      text-transform: uppercase;
    }
}

a.tm-nav-item-link:hover {
  background-color: lightskyblue;
  color: #fff;
}

.tm-main-nav {
  box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}

div.tm-content-header {
  background: linear-gradient(to right, lightskyblue, burlywood);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.6);
}

div.tm-banner-inner {
  background-color: white;
}

@keyframes animation {
  from {
    margin-left: 40%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.tm-banner-text {
  animation-name: animation;
  animation-duration: 4s;
  text-shadow: 5px 5px 4px #333;
}

section {
  box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}

section::before {
  content: '';
  border: 20px solid transparent; 
  border-left: 20px solid lightskyblue; 
  border-top: 20px solid lightskyblue; 
  width: 0;
  height: 0;
}

.flex-2-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-2-col > div.padding-medium {
  text-align: center;
}

li.box-bg:hover {
  background-color: lightgrey;
}

.tm-section-title-box:hover {
  color: lightskyblue;
  font-style: italic;
  font-weight: 500;
}

section.heading h2 {
  color: lightskyblue;
  font-weight: 200;
  text-align: center;
}

@media screen {
  section.heading ol {
    list-style-type: lower-alpha;
  }
}

.heading li:hover::before {
  content: '>';
  color: #000;
  font-weight: bold;
}

.heading li:first-child::after, .heading li:nth-child(3)::after {
  content: 'New';
  font-variant: normal;
  color: red;
  vertical-align: super;
  font-size: small;
  font-weight: 500;
}

a.text:hover::after:hover{
  text-decoration: overline;
}

section.blocks .tm-team-description-container p + p{
  letter-spacing: 5px;
  font-style: italic;
  word-spacing: 10px;
}

li.box-work {
  padding: 10px;
}

li.box-work:nth-child(odd) {
  background: lightskyblue;
  color: #fff;
}

li.box-work p::first-letter {
  font-weight: bold;
}

p.tm-section-description {
  text-indent: 25px;
  line-height: 30px;
}

button.btn {
  background-color: white;
  color: lightskyblue;
  border: 1px solid lightskyblue;
  display:block;
  float: right;
}

div.form-group input{
  border: none;
  border-bottom: 1px solid lightskyblue;
}

div.form-group input:focus {
  background-color: lightskyblue;
}

div.form-group textarea {
  border: 1px solid lightskyblue;
  background: url('../img/email-icon.png') 990px 190px no-repeat;
  background-size: 30px 30px; 
}

